<template>
	<v-container>
		<v-row>
			<v-col>
				<h1 class="text-center text-teal-lighten-1 mb-3">
					Welcome to my site
				</h1>
				<h2 class="text-center text-teal-lighten-1 mb-3">
					- Block81838 -
				</h2>
				<h2 class="text-center text-teal-lighten-1 mb-3">
					It's opensource and free
				</h2>
				<h2 class="text-center text-teal-lighten-1 mb-3">
					Just do anything that you want
				</h2>
			</v-col>
		</v-row>
		<v-row>
			<v-col class="d-flex justify-center">
				<v-btn
					icon
					size="small"
					href="mailto:haoxiangz201@gmail.com"
					class="mr-5"
				>
					<v-icon icon="mdi-gmail" color="teal lighten-1"></v-icon>
				</v-btn>
				<v-btn icon size="small" class="mr-5">
					<v-icon icon="mdi-mastodon" color="teal lighten-1"></v-icon>
				</v-btn>
				<v-btn icon size="small">
					<v-icon icon="mdi-facebook" color="teal lighten-1"></v-icon>
				</v-btn>
			</v-col>
		</v-row>
	</v-container>
</template>
<style lang="sass" scoped></style>
